extends layout

mixin switch(id)
  - uid = 'switch-cb' + id
  .card_sw
    .colorful-switch
      input.colorful-switch__checkbox(type='checkbox' id=uid)
      label.colorful-switch__label(for=uid)
        span.colorful-switch__bg
        span.colorful-switch__dot
        span.colorful-switch__on
          span.colorful-switch__on__inner
        span.colorful-switch__off

block content
  .row
    each id, val in {"Влажность почвы": ["v_sh", "73%"], "Температура": ["v_at", "23°C"], "Влажность": ["v_ah", "37%"], "Освещенность": ["v_lig", "2518 лк"]}
      .col-lg-3.col-md-3.col-sm-6
        .card.bg-primary.text-white.text-center.p-1
          blockquote.blockquote.mb-0.val_all
            p.val_field(id=id[0])= id[1]
            h5= val
  hr
  .row#bb0
    each id, val in {"Полив": "b_sh", "Освещение": "b_lig", "Охлаждение": "b_ah", "Нагреватель": "b_at"}
      .col-lg-3.col-md-3.col-sm-6(style='text-align: center;')
        .card.bg-primary.text-white.text-center(id=(id+'f'))
          blockquote.blockquote.mb-0.val_all
            p.val_field(id=id)= val
          +switch(id)
  hr
  .row
    .col-lg-6.col-md-12.col-sm-12(style='text-align: center;')
      .card.bg-primary.text-white.text-center
        blockquote.blockquote.mb-0.row(style="padding: 10px; border: 0")
          .col-md-6
            .dropdown
              button#dropdownBt0.btn.btn-secondary.dropdown-toggle(sype='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Выбор вида растения
              .dropdown-menu.bg-dark(aria-labelledby='dropdownBt0', style='padding: 0px')
                a.dropdown-item.bg-dark(onclick='setType(25)') Роза
                a.dropdown-item.bg-dark(onclick='setType(26)') Орхидея
                a.dropdown-item.bg-dark(onclick='setType(24)') Средние значения домашних цветов        
          .col-md-6
            .dropdown
              button#dropdownBt1.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Выбор возраста растения
              .dropdown-menu(aria-labelledby='dropdownBt1', style='padding: 0px')
                a.dropdown-item.bg-dark(onclick='setAge(1)') Сажецы
                a.dropdown-item.bg-dark(onclick='setAge(2)') Взрослые растения
      hr
      .card.bg-primary.text-white.text-center#camcard(style="padding: 10px")
        blockquote.blockquote.mb-0.row(style="padding: 10px; padding-top: 0px; margin: 0;")
          p(style='margin: 0px;') Видео трансляция   
        img#cam(style="width: 100%; height: 100%; border-radius: 2%;", alt='No connection')
    .col-lg-6.col-md-12.col-sm-12(style='text-align: center;')
      .card.bg-primary.text-white.text-center        
        canvas.xchart#chart0
        blockquote.blockquote.mb-0.row(style="padding: 10px; margin: 0;")
          .col-md-1.col-xs-1.colorbrick
            div(style='width:40px;height:20px;background:#0000FF')
          .col-md-5.col-xs-5.colorbricklabel
            h6.hlbl Влажность почвы, %
          .col-md-1.col-xs-1.colorbrick
            div(style='width:40px;height:20px;background:#00FF00')
          .col-md-5.col-xs-5.colorbricklabel
            h6.hlbl Влажность воздуха, %
        canvas.xchart#chart1
        blockquote.blockquote.mb-0.row(style="padding: 10px; margin: 0;")
          .col-md-1.col-xs-1.colorbrick
            div(style='width:40px;height:20px;background:#FF0000')
          .col-md-5.col-xs-5.colorbricklabel
            h6.hlbl Температура, °C
        canvas.xchart#chart2
        blockquote.blockquote.mb-0.row(style="padding: 10px; margin: 0;")
          .col-md-1.col-xs-1.colorbrick
            div(style='width:40px;height:20px;background:#FFFF00')
          .col-md-5.col-xs-5.colorbricklabel
            h6.hlbl Яркость освещения, лк
